@import "about";
@import "baner";
@import "blog";
@import "clientc";
@import "contact";
@import "footer";
@import "header";
@import "media";
@import "portfolio";
@import "services";
@import "team";
@import "bootstrap-castum";
@import "themes";
@import "hexagon";
@import "features";
@import "trapezoit-mob";
@import "skill";
// CIRCLE
@import "./circle/circle";
// VARS
@import "./circle/variables";
// mixins
@import "./circle/mixins";

html{
  font-size: 16px;
}

body {
  min-width: 320px;
  max-width: 1400px;
  background-color: #272727;
  font-family: $font-f2;
  font-size: 1rem;
  margin:0 auto;
}
* {
  box-sizing: border-box;
}
.h3{
  font-size:1.875rem;
  font-family: $font-f2;
  font-weight: 600;
}
.padding-section{
  padding:6rem 0;
}
.section__descr {
  font-size: 1rem;
  font-family: "Myriad Pro";
  line-height: 1.375;
}
.span-txt_black{
  color:$colorBlack;
}
svg{
  width:1px;
  height:1px;
}